<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new song</title>
</head>
<body>
<h1>Create new song</h1>
<form th:action="@{/create_song}" th:object="${songs}" method="post">
    <table>
        <tr>
            <td>Id:</td>
            <td><input type="text" th:field="*{id}"/></td>
        </tr>
        <tr>
            <td>Id:</td>
            <td><input type="text" th:field="*{song_name}"/></td>
            <td style="color: red" th:if="${#fields.hasErrors('song_name')}" th:errors="*{song_name}"></td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td><input type="text" th:field="*{artist_name}"/></td>
            <td style="color: red" th:if="${#fields.hasErrors('artist_name')}" th:errors="*{artist_name}"></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input type="text" th:field="*{kind_of}"/></td>
            <td style="color: red" th:if="${#fields.hasErrors('kind_of')}" th:errors="*{kind_of}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create new"></td>
        </tr>
    </table>
</form>
</body>
</html>