<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Employee</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Licorice&family=Luxurious+Roman&family=The+Nautigal&family=Vujahday+Script&family=Work+Sans:ital,wght@1,300&display=swap"
          rel="stylesheet">
    <script src="jquery-3.6.0.min.js"></script>
</head>
<body class="bg-image"
      style="background-size: cover;
 background-image: url('https://wallpaperaccess.com/full/1521647.png');">
<nav nav class="navbar navbar-expand-lg navbar-light bg-success">
    <div class="container-fluid">
        <a class="navbar-brand btn btn-warning font-google-2 fs-3" th:href="@{/home}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <!--<a class="nav-link active text-warning" aria-current="page" th:href="@{create-employee}">Create</a>-->
                    <a class="nav-link text-warning" th:href="@{create-employee}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                        </svg>
                        Add Employee
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-warning" href="#">Information</a>
                </li>
            </ul>
            <form class="d-flex" th:action="@{/employee/search}" method="get">
                <input name="name" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-warning" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div>
    <!--    <th:block th:if="${message}">-->
    <!--        <p th:text="${message}"></p>-->
    <!--    </th:block>-->
</div>
<h2 class="text-center font-google-2 fs-1 text-primary">List of employee</h2>
<table id="employeeList" class="table">
    <thead class="text-white bg-opacity-40 bg-info">
    <tr>
        <th scope="col" class="text-center">Employee ID</th>
        <th scope="col">Name</th>
        <th scope="col">Date Of Birth</th>
        <th scope="col">ID Card</th>
        <th scope="col">Salary</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Position</th>
        <th scope="col">Division</th>
        <th scope="col">Degree</th>
        <th scope="col" class="text-center">Show Detail</th>
        <th scope="col" class="text-center">Edit</th>
        <th scope="col" class="text-center">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employees: ${employeePage}">
        <td class="text-center fw-bold" th:text="${employees.employeeId}"></td>
        <td th:text="${employees.name}"></td>
        <td th:text="${employees.birthDay}"></td>
        <td th:text="${employees.idCard}"></td>
        <td th:text="${employees.salary}"></td>
        <td th:text="${employees.phone}"></td>
        <td th:text="${employees.email}"></td>
        <td th:text="${employees.address}"></td>
        <td th:text="${employees.position.name}"></td>
        <td th:text="${employees.division.name}"></td>
        <td th:text="${employees.degree.name}"></td>
        <td class="text-center">
            <a type="button" class="btn btn-large btn-light text-success btn-detail"
               data-bs-toggle="modal" data-bs-target="#detailModal"
               th:data-id123="${employees.employeeId}" th:data-name="${employees.name}"
               th:data-birth_day="${employees.birthDay}" th:data-id_card="${employees.idCard}"
               th:data-salary="${employees.salary}" th:data-phone="${employees.phone}"
               th:data-email="${employees.email}" th:data-address="${employees.address}"
               th:data-position="${employees.position.name}" th:data-division="${employees.division.name}"
               th:data-degree="${employees.degree.name}" >Detail</a>
        </td>
        <td class="text-center">
            <a th:href="@{edit-employee/__${employees.employeeId}__}" role="button"
               class="btn btn-large btn-light text-success">Edit</a>
        </td>
        <td class="text-center">
            <a role="button" class="btn btn-large btn-danger btn-delete"
               data-bs-toggle="modal" data-bs-target="#deleteModal"
               th:data-id123="${employees.employeeId}" th:data-name="${employees.name}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<!--DETAIL MODAL-->
<div class="modal" tabindex="-1" id="detailModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-warning bg-success">Show detail</h5>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <th scope="col">Employee ID</th>
                        <td id="id-detail"></td>
                    </tr>
                    <tr>
                        <th scope="col">Name</th>
                        <td id="name-detail"></td>
                    </tr>
                    <tr>
                        <th scope="col">Date Of Birth</th>
                        <td id="birthDay-detail"></td>
                    </tr>
                    <tr>
                        <th scope="col">ID Card</th>
                        <td id="card-detail"></td>
                    </tr>
                    <tr>
                        <th scope="col">Salary</th>
                        <td id="salary-detail"></td>
                    </tr>
                    <tr>
                        <th scope="col">Phone</th>
                        <td id="phone-detail"></td>
                    </tr>
                    <tr>
                        <th scope="col">Email</th>
                        <td id="email-detail"></td>
                    </tr>
                    <tr>
                        <th scope="col">Address</th>
                        <td id="address-detail"></td>
                    </tr>
                    <tr>
                        <th scope="col">Position</th>
                        <td id="position-detail"></td>
                    </tr>
                    <tr>
                        <th scope="col">Division</th>
                        <td id="division-detail"></td>
                    </tr>
                    <tr>
                        <th scope="col">Degree</th>
                        <td id="degree-detail"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--DELETE MODAL-->
<div class="modal" tabindex="-1" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure to delete</h5>
                <h5 class="text-danger modal-title ms-1" id="name-delete"></h5>
                <h5 class="modal-title ms-1">from list ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--                        <p>Modal body text goes here.</p>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="link-delete" type="button" class="btn btn-primary" href="">Delete</a>
            </div>
        </div>
    </div>
</div>
<!--PAGEABLE-->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link"
               th:if="${employeePage.hasPrevious()}"
               th:href="@{/employee/list-page(page = ${employeePage.number - 1})}">
                Previous
            </a>
        </li>
        <li class="page-item" th:each="pageNo: ${#numbers.sequence(0,employeePage.totalPages - 1)}">
            <a class="page-link" th:href="@{/employee/list-page(page = ${pageNo})}" th:text="${pageNo}"></a>
        </li>
        <li class="page-item">
            <a class="page-link"
               th:if="${employeePage.hasNext()}" th:href="@{/employee/list-page(page = ${employeePage.number + 1})}">
                Next
            </a>
        </li>
    </ul>
</nav>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".btn-delete").click(function () {
            let id = this.dataset.id123;
            let name = this.dataset.name;
            $('#name-delete').html(name);
            $('#link-delete').attr("href", "http://localhost:8080/employee/delete?id=" + id);
        });
    })
    $(document).ready(function () {
        $(".btn-detail").click(function () {
            let id = this.dataset.id123;
            let name = this.dataset.name;
            let birthDay = this.dataset.birth_day;
            let id_card = this.dataset.id_card;
            let salary = this.dataset.salary;
            let phone = this.dataset.phone;
            let email = this.dataset.email;
            let address = this.dataset.address;
            let position = this.dataset.position;
            let division = this.dataset.division;
            let degree = this.dataset.degree;
            $('#id-detail').html(id);
            $('#name-detail').html(name);
            $('#birthDay-detail').html(birthDay);
            $('#card-detail').html(id_card);
            $('#salary-detail').html(salary);
            $('#phone-detail').html(phone);
            $('#email-detail').html(email);
            $('#address-detail').html(address);
            $('#position-detail').html(position);
            $('#division-detail').html(division);
            $('#degree-detail').html(degree);
        });
    })
</script>
</body>
</html>